<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Resignation</h3>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn"   data-bs-target="#add_resignation"
                  data-bs-toggle="modal" ><i class="fa fa-plus"></i> Add
                    Resignation</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive card p-3">
                <table  id="datatable"
                    class="table table-hover custom-table mb-0 datatable">
                    <thead class="thead-all">
                        <tr class="tr-th-all">
                            <th>#</th>
                            <th>Resigning Employee </th>
                            <th>Department </th>
                            <th>Reason </th>
                            <th>Notice Date </th>
                            <th>Resignation Date </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dasboard-td" *ngFor="let item of lstResignation;let i = index">
                            <td>{{item.id}}</td>
                            <td>
                                <h2 class="table-avatar blue-link">
                                    <!-- <a routerLink="/profile/profilelist" class="avatar">
                                        <img alt="" src="assets/img/avatar-{{i+ 1}}.jpg"></a> -->
                                    <a routerLink="/employees/employeeprofile">{{item.employee}}</a>
                                </h2>
                            </td>
                            <td>{{item.department}}</td>
                            <td>{{item.reason}}</td>
                            <td>{{item.noticedDate}}</td>
                            <td>{{item.resignDate }}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" 
                                    data-bs-toggle="dropdown" style="    cursor: pointer;"

                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-bs-target="modal"data-bs-target="#edit_resignation"
                                            (click)="edit(item.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-bs-targete="modal" data-bs-target="#delete_resignation"
                                            (click)="tempId =item.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Resignation Modal -->
<div id="add_resignation" class="modal custom-modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Resignation</h5>
                <button type="button" class="close" data-dismiss="modal"  data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="addResignForm">
                    <div class="form-group">
                        <label>Resigning Employee <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            id="EmployeeName"
                            formControlName="EmployeeName">
                        <div
                            *ngIf="addResignForm.get('EmployeeName').invalid && addResignForm.get('EmployeeName').touched">
                            <small  id="EmployeeName"
                                *ngIf="addResignForm.get('EmployeeName').invalid && addResignForm.get('EmployeeName').touched"
                                class="text-danger"> *Employee is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notice Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input  id="NoticeDated" class="form-control datetimepicker" type="text" 
                                formControlName="NoticeDated">
                            <div
                                *ngIf="addResignForm.get('NoticeDated').invalid && addResignForm.get('NoticeDated').touched">
                                <small id="NoticeDated"
                                    *ngIf="addResignForm.get('NoticeDated').invalid && addResignForm.get('NoticeDated').touched"
                                    class="text-danger"> *Notice Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Resignation Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input id="ResignationDate" class="form-control datetimepicker" type="text"
                              
                           
                                formControlName="ResignationDate">
                            <div
                                *ngIf="addResignForm.get('ResignationDate').invalid && addResignForm.get('ResignationDate').touched">
                                <small id="ResignationDate"
                                    *ngIf="addResignForm.get('ResignationDate').invalid && addResignForm.get('ResignationDate').touched"
                                    class="text-danger"> *Resignation Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4"
                            id="ReasonName"
                            formControlName="ReasonName"></textarea>
                        <div *ngIf="addResignForm.get('ReasonName').invalid && addResignForm.get('ReasonName').touched">
                            <small id="ReasonName"
                                *ngIf="addResignForm.get('ReasonName').invalid && addResignForm.get('ReasonName').touched"
                                class="text-danger"> *Reason is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button id="submit_resignation" class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Resignation Modal -->

<!-- Edit Resignation Modal -->
<div id="edit_resignation" class="modal custom-modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Resignation</h5>
                <button id="edit_resignation" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="editResignForm">
                    <div class="form-group">
                        <label>Resigning Employee <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                          id="EmployeeName"
                            formControlName="EmployeeName">
                        <div
                            *ngIf="editResignForm.get('EmployeeName').invalid && editResignForm.get('EmployeeName').touched">
                            <small id="EmployeeName"
                                *ngIf="editResignForm.get('EmployeeName').invalid && editResignForm.get('EmployeeName').touched"
                                class="text-danger"> *Employee is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notice Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input  id="NoticeDated"
                             class="form-control datetimepicker" type="text"
                                formControlName="NoticeDated" >
                            <div
                                *ngIf="editResignForm.get('NoticeDated').invalid && editResignForm.get('NoticeDated').touched">
                                <small id="NoticeDated"
                                    *ngIf="editResignForm.get('NoticeDated').invalid && editResignForm.get('NoticeDated').touched"
                                    class="text-danger"> *Notice Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Resignation Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input id="ResignationDate"
                             class="form-control datetimepicker" type="text" 
                                formControlName="ResignationDate">
                            <div
                                *ngIf="editResignForm.get('ResignationDate').invalid && editResignForm.get('ResignationDate').touched">
                                <small id="ResignationDate"
                                    *ngIf="editResignForm.get('ResignationDate').invalid && editResignForm.get('ResignationDate').touched"
                                    class="text-danger"> *Resignation Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <textarea id="ReasonName" class="form-control" rows="4"
                            formControlName="ReasonName"></textarea>
                        <div
                            *ngIf="editResignForm.get('ReasonName').invalid && editResignForm.get('ReasonName').touched">
                            <small id="ReasonName"
                                *ngIf="editResignForm.get('ReasonName').invalid && editResignForm.get('ReasonName').touched"
                                class="text-danger"> *Reason is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button id="update_resignation" class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Resignation Modal -->

<!-- Delete Resignation Modal -->
<div class="modal custom-modal fade" id="delete_resignation" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Resignation</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                               >Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Resignation Modal -->