<div class>
  <div class="row align-items-center">
    <div class="col-sm-12 col-lg-8 d-flex align-items-baseline">
      <i
        style="font-size: 20px"
        class="fa fa-arrow-left"
        routerLink="/timesetup/leavesetup"
        aria-label="back"></i>
      <h3 class="ms-4 page-title">
        {{ view ? globalServ.getGlobalNames('view') : (update ?
        globalServ.getGlobalNames('update')
        :globalServ.getGlobalNames('create')) }}
        {{globalServ.showLabel('leaveSetup')}}
      </h3>
    </div>
  </div>
</div>

<div class="card p-3">
  <div class="row">
    <form [formGroup]="leavesetUpForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 ">
              <div class="form-group">
                <label class="text-sm mb-1">
                  {{globalServ.showLabel('leavePlanCode')}}&nbsp;<span
                    style="color: #f62d51">*</span></label>
                <select
                  class="form-select"
                  (change)="onChangeInPlanCode(leavesetUpForm.controls.leavePlanCode)"
                  [formControl]="leavesetUpForm.controls.leavePlanCode">
                  <option [value] selected
                    disabled>{{globalServ.showPlaceholder('leavePlan')}}</option>
                  <option
                    *ngFor="let lp of leavePlansList"
                    [value]="lp.leavePlanCode">
                    {{ lp.leavePlanCode }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6 ">
              <div class="form-group">
                <label class="text-sm mb-1">
                  {{globalServ.showLabel('leaveTypeCode')}}&nbsp;<span
                    style="color: #f62d51">*</span></label>
                <select
                  class="form-select"
                  (change)="onleaveTypeCodeChange()"
                  [formControl]="leavesetUpForm.controls.leaveTypeCode">
                  <option [value] selected disabled>-</option>
                  <option
                    *ngFor="let lp of leaveTypesList"
                    [disabled]="lp.disable"
                    [value]="lp.leaveTypeCode">
                    {{ lp.leaveTypeCode }}
                  </option>
                </select>
                <div class="mt-2" *ngIf="
                    leavesetUpForm.controls['leaveTypeCode'].invalid &&
                    (leavesetUpForm.controls['leaveTypeCode'].dirty ||
                      leavesetUpForm.controls['leaveTypeCode'].touched)
                  "
                  style="padding: 0px">
                  <div
                    *ngIf="leavesetUpForm.controls['leaveTypeCode'].errors.required"
                    style="color: #dc3545">
                    {{globalServ.showLabel('leaveTypeCode')}}
                    {{globalServ.showGlobalErrors('required')}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 ">
              <div class="form-group input">
                <label class="text-sm mb-1">
                  {{globalServ.showLabel('leavesquota')}} &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <input
                  placeholder="{{globalServ.showPlaceholder('enterNumberOfLeave')}}"
                  id="leaves"
                  type="number"
                  (change)="onChangeInEnterNumberOfLeaves(leavesetUpForm.controls.leaves.value)"
                  class="form-control"
                  [formControl]="leavesetUpForm.controls.leaves" />
              </div>
            </div>

            <div class="col-md-6 ">
              <div class="form-group input">
                <label class="mb-1 text-sm">
                  {{globalServ.showLabel('maxTakeAtatime')}} &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <input
                  id="maxTakeAtatime"
                  (change)="maxLeaveAtOneInstance()"
                  placeholder="{{globalServ.showPlaceholder('maxTakeAtatime')}}"
                  type="number"
                  class="form-control"
                  [formControl]="leavesetUpForm.controls.maxTakeAtatime" />
              </div>
            </div>

            <div class="col-md-6   my-auto">
              <div class="form-check ms-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isPaidLeave"
                  (change)="isPaidLeaveFun()"
                  [formControl]="leavesetUpForm.controls.isPaidLeave" />
                <label class="form-check-label" for="isPaidLeave">
                  {{globalServ.showLabel('isPaidLeave')}}</label>
              </div>
            </div>

            <div
              class="col-md-6 "
              *ngIf="leavesetUpForm.controls.isPaidLeave.value === true">
              <div class="form-group input">
                <label
                  class="text-sm mb-1">{{globalServ.showLabel('payPercentage')}}
                  &nbsp;<span *ngIf="leavesetUpForm.controls.payPct.validator"
                    style="color: red;">*</span></label>
                <input
                  type="number"
                  placeholder="{{globalServ.showPlaceholder('payPercentage')}}"
                  id="payPct"
                  class="form-control"
                  [formControl]="leavesetUpForm.controls.payPct" />
              </div>
            </div>
            <div class="col-md-4 d-md-none d-lg-block"> </div>
            <div class="form-check col-md-12  ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="canApplyHalf"
                [formControl]="leavesetUpForm.controls.canApplyHalf" />
              <label class="form-check-label" for="canApplyHalf">
                {{globalServ.showLabel('canApplyHalf')}}</label>
            </div>

            <!-- <div class="col-md-6">
              <div class="form-group">
                <label class="text-sm mb-1" for="calendarStartMonth"
                  >Calendar Start Month<span class="text-danger">*</span>
                </label>
                <select
                  class="form-select"
                  [(ngModel)]="setMonthName"
                  formControlName="calendarStartMonth"
                >
                  <option *ngFor="let m of listOfMonths" [value]="m.name">
                    {{ m.name }}
                  </option>
                </select>
              </div>
            </div> -->

            <!-- <div class="col-md-6">
              <div class="form-group input">
                <label class="text-sm mb-1"
                  >Leave Policy On Date <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  placeholder="Enter Leave Policy On Date"
                  id="runLeavepolicyOnDt"
                  class="form-control"
                  [formControl]="leavesetUpForm.controls.runLeavepolicyOnDt"
                />
              </div>
            </div> -->

            <div class="form-check col-md-12 my-3 ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="canCarryForward"
                (change)="checkCanCarryForward(leavesetUpForm.controls.canCarryForward.value)"
                [formControl]="leavesetUpForm.controls.canCarryForward" />
              <label class="form-check-label"
                for="canCarryForward">{{globalServ.showLabel('canCarryForward')}}</label>
            </div>

            <div class="row align-items-baseline">
              <div
                class="col-md-3 "
                *ngIf="leavesetUpForm.controls.canCarryForward.value === true">
                <div class="form-group input">
                  <label class="text-sm mb-1" for="maxCarryForwardLimit">
                    {{globalServ.showLabel('maxCarryForwardLimit')}} &nbsp;<span
                      *ngIf="leavesetUpForm.controls.maxCarryForwardLimit.validator"
                      style="color: red;">*</span></label>
                  <input
                    type="number"
                    (change)="onMaxCarryForwardLimitChange()"
                    placeholder="{{globalServ.showPlaceholder('maxCarryForwardLimit')}}"
                    id="maxCarryForwardLimit"
                    class="form-control"
                    [formControl]="leavesetUpForm.controls.maxCarryForwardLimit" />
                </div>
              </div>
              <div
                class="col-md-3"
                *ngIf="leavesetUpForm.controls.canCarryForward.value === true">
                <div class="form-group input">
                  <label class="text-sm mb-1" for="yearlyCarryForwardLimit">
                    {{globalServ.showLabel('yearlyCarryForwardLimit')}}
                    &nbsp;<span
                      *ngIf="leavesetUpForm.controls.yearlyCarryForwardLimit.validator"
                      style="color: red;">*</span>
                  </label>
                  <input
                    type="number"
                    placeholder="{{globalServ.showPlaceholder('yearlyCarryForwardLimit')}}"
                    id="yearlyCarryForwardLimit"
                    (change)="onMaxCarryForwardLimitChange()"
                    class="form-control"
                    [formControl]="
                    leavesetUpForm.controls.yearlyCarryForwardLimit" />
                </div>
              </div>

              <div
                class="col-md-3"
                *ngIf="leavesetUpForm.controls.canCarryForward.value === true">
                <div class="form-group input">
                  <label class="text-sm mb-1" for="lapseAfterYears">
                    {{globalServ.showLabel('lapseAfterYears')}} &nbsp;<span
                      *ngIf="leavesetUpForm.controls.lapseAfterYears.validator"
                      style="color: red;">*</span> </label>
                  <input
                    id="lapseAfterYears"
                    placeholder="{{globalServ.showPlaceholder('lapseAfterYears')}}"
                    type="number"
                    class="form-control"
                    [formControl]="leavesetUpForm.controls.lapseAfterYears" />
                </div>
              </div>

            </div>
            <div class="form-check col-md-6 my-auto ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="allowAccrueBasedOnWorkdays"
                (change)="onChangeallowAccrueBasedOnWorkdays(leavesetUpForm.controls.allowAccrueBasedOnWorkdays.value)"
                [formControl]="
                  leavesetUpForm.controls.allowAccrueBasedOnWorkdays" />
              <label class="form-check-label"
                for="allowAccrueBasedOnWorkdays">
                {{globalServ.showLabel('allowAccrualonWorkDays')}} </label>
            </div>
            <div
              class="col-md-6 col-lg-6 mt-2 ms-3"
              *ngIf="leavesetUpForm.controls.allowAccrueBasedOnWorkdays.value === true">
              <div class="form-group input ms-2 d-flex align-items-center ">
                <label class="text-sm mb-1"
                  for="minWorkdaysForAccrue">{{globalServ.showLabel('minWorkdayAccrue')}}
                  &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <div class="col-md-5 ms-2">
                  <input
                    type="number"
                    placeholder="{{globalServ.showPlaceholder('minWorkdaysForAccrue')}}"
                    id="minWorkdaysForAccrue" (change)="minWorkDaysFunction()"
                    class="form-control"
                    [formControl]="leavesetUpForm.controls.minWorkdaysForAccrue" />

                  <div class="ms-2" *ngIf="
                    leavesetUpForm.controls['minWorkdaysForAccrue'].invalid &&
                    (leavesetUpForm.controls['minWorkdaysForAccrue'].dirty ||
                      leavesetUpForm.controls['minWorkdaysForAccrue'].touched)
                  "
                    style="padding: 0px">
                    <div
                      *ngIf="leavesetUpForm.controls['minWorkdaysForAccrue'].errors.required"
                      style="color: #dc3545">
                      {{globalServ.showerror('minWorkdaysforAccureReq')}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-12 mt-2">
            <div class="form-group input">
              <label class="form-label">
                <b> {{globalServ.showLabel('accrualPolicy')}}</b>&nbsp;<span
                  style="color: #f62d51">*</span></label>
              <div class="form-check  ms-2"
                *ngFor="let option of accrualPolicyOptions">
                <input class="form-check-input" type="radio"
                  [id]="option.value" [value]="option.value"
                  (change)="accrualPolicyFunction()"
                  [formControl]="leavesetUpForm.controls.accrualPolicy">
                <label class="form-check-label" [for]="option.value">
                  {{globalServ.showLabel(option.label)}}
                </label>
              </div>
              <div class="mt-2" *ngIf="
                    leavesetUpForm.controls['accrualPolicy'].invalid &&
                    (leavesetUpForm.controls['accrualPolicy'].dirty ||
                      leavesetUpForm.controls['accrualPolicy'].touched)
                  "
                style="padding: 0px">
                <div
                  *ngIf="leavesetUpForm.controls['accrualPolicy'].errors.required"
                  style="color: #dc3545">
                  {{globalServ.showLabel('accrualPolicy')}}
                  {{globalServ.showGlobalErrors('required')}}
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-md-6 mt-2">
                <div class="form-group input d-flex  align-items-baseline ">
                  <label class="text-sm mb-1 text-nowrap ms-2">
                    {{globalServ.showLabel('eligibilityforMon')}}&nbsp;<span
                      style="color: #f62d51">*</span></label>
                  <div class="ms-3">
                    <select
                      class="select floating form-select"
                      id="noLeaveQuotaIfJoinsAfter"
                      [formControl]="leavesetUpForm.controls.noLeaveQuotaIfJoinsAfter">
                      <option selected value>-</option>
                      <option [value]="date.code"
                        *ngFor="let date of dates">{{date.name}}</option>
                    </select>
                    <div *ngIf="
                    leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].invalid &&
                    (leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].dirty ||
                      leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].touched)
                  "
                      style="padding: 0px">
                      <div
                        *ngIf="leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].errors.required"
                        style="color: #dc3545">
                        {{globalServ.showGlobalErrors('fieldRequired')}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="form-check col-md-6  my-auto ms-3">
                  <input
                    class="form-check-input"
                    type="checkbox" (change)="prorateLeavesInMonthOfJoining()"
                    id="prorateLeavesInMonthOfJoining"
                    [formControl]="
                    leavesetUpForm.controls.prorateLeavesInMonthOfJoining
                  " />
                  <label
                    class="form-check-label"
                    for="prorateLeavesInMonthOfJoining">
                    {{globalServ.showLabel('isProrated')}} </label>
                </div>
              </div>
            </div>
            <div class="col-md-6   mt-2"
              *ngIf="leavesetUpForm.controls.prorateLeavesInMonthOfJoining.value ==true">
              <div class="form-group input">
                <label class="text-sm mb-1"
                  for="noLeaveQuotaIfJoinsAfter">
                  {{globalServ.showLabel('noOfLeavesAfterJoin')}} &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <div>
                  <select
                    class="select floating form-select"
                    id="noLeaveQuotaIfJoinsAfter"
                    [formControl]="leavesetUpForm.controls.noLeaveQuotaIfJoinsAfter">
                    <option selected value>-</option>
                    <option [value]="date.code"
                      *ngFor="let date of dates">{{date.name}}</option>
                  </select>

                  <div *ngIf="
                    leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].invalid &&
                    (leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].dirty ||
                      leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].touched)
                  "
                    style="padding: 0px">
                    <div
                      *ngIf="leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].errors.required"
                      style="color: #dc3545">
                      {{globalServ.showGlobalErrors('fieldRequired')}}
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          <div><b> {{globalServ.showLabel('AccInMonthOfJoin')}}</b></div>

          <div class="row">
            <div class="col-md-6 mt-2 ms-2">
              <div class="form-group input d-flex align-items-baseline">
                <div class=" ">
                  <!-- Radio buttons for selecting eligibility or prorated leave -->
                  <div class="form-check d-flex  align-items-baseline">
                    <input class="form-check-input" type="radio"
                      id="eligibilityforMon"
                      (change)="prorateLeavesInMonthOfJoining()"
                      name="leaveOption" [value]="'eligibility'"
                      [(ngModel)]="accuralInMonthOfJoin"
                      [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label ms-2"
                      for="eligibilityforMon">
                      {{globalServ.showLabel('eligibilityforMon')}}
                      &nbsp;<span
                        *ngIf="leavesetUpForm.controls.fullLeaveQuotaIfJoinsBefore.validator"
                        style="color: red;">*</span>
                    </label>
                    <div *ngIf="accuralInMonthOfJoin === 'eligibility'"
                      class="ms-3">
                      <select
                        class="select floating form-select"
                        id="fullLeaveQuotaIfJoinsBefore"
                        [formControl]="leavesetUpForm.controls.fullLeaveQuotaIfJoinsBefore">
                        <option selected value>-</option>
                        <option [value]="date.code"
                          *ngFor="let date of dates">{{date.name}}</option>
                      </select>
                      <div
                        *ngIf="leavesetUpForm.controls['fullLeaveQuotaIfJoinsBefore'].invalid &&
                           (leavesetUpForm.controls['fullLeaveQuotaIfJoinsBefore'].dirty || 
                           leavesetUpForm.controls['fullLeaveQuotaIfJoinsBefore'].touched)"
                        style="padding: 0px">
                        <div
                          *ngIf="leavesetUpForm.controls['fullLeaveQuotaIfJoinsBefore'].errors.required"
                          style="color: #dc3545">
                          {{globalServ.showGlobalErrors('fieldRequired')}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio"
                      id="prorateLeaves" name="leaveOption"
                      [value]="'prorate'"
                      (change)="prorateLeavesInMonthOfJoining()"
                      [(ngModel)]="accuralInMonthOfJoin"
                      [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="prorateLeaves">
                      {{globalServ.showLabel('isProrated')}}
                    </label>
                  </div>

                  <div *ngIf="accuralInMonthOfJoin === 'prorate'"
                    class="ms-4 d-flex  align-items-center ">
                    <div class="d-flex  align-items-center">
                      <label class="text-sm mb-1"
                        for="noLeaveQuotaIfJoinsAfter">
                        {{globalServ.showLabel('noOfLeavesAfterJoin')}}
                        &nbsp;<span
                          style="color: #f62d51">*</span>
                      </label>
                      <div>
                        <select
                          class="select floating form-select ms-2"
                          style="width: fit-content;"
                          id="noLeaveQuotaIfJoinsAfter"
                          [formControl]="leavesetUpForm.controls.noLeaveQuotaIfJoinsAfter">
                          <option selected value>-</option>
                          <option [value]="date.code"
                            *ngFor="let date of dates">{{date.name}}</option>
                        </select>
                        <div
                          *ngIf="leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].invalid &&
                          (leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].dirty || 
                          leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].touched)"
                          style="padding: 0px">
                          <div
                            *ngIf="leavesetUpForm.controls['noLeaveQuotaIfJoinsAfter'].errors.required"
                            style="color: #dc3545">
                            {{globalServ.showGlobalErrors('fieldRequired')}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-check col-md-6  my-auto ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="accrueLeavesFromDojTill"
                (change)="onChangeAccrueLeavesFromDOJ(leavesetUpForm.controls.accrueLeavesFromDojTill.value)"
                [formControl]="leavesetUpForm.controls.accrueLeavesFromDojTill" />
              <label class="form-check-label" for="accrueLeavesFromDojTill">
                {{globalServ.showLabel('accrueLeaves')}} </label>
            </div>

            <div
              class="col-md-6 mt-2 ms-3">
              <div class="form-group input d-flex  align-items-center "
                *ngIf="leavesetUpForm.controls.accrueLeavesFromDojTill.value === true">
                <label class="text-sm mb-1" for="startAccrual">
                  {{globalServ.showLabel('accrueStarts')}} &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <div>
                  <select
                    class="form-select ms-2" id="startAccrual"
                    [formControl]="leavesetUpForm.controls.startAccrual">
                    <option [value] selected
                      disabled>{{globalServ.showLabel('selectAcc')}}</option>
                    <option
                      *ngFor="let sa of startAcc"
                      [value]="sa">
                      {{ sa }}
                    </option>
                  </select>
                  <div *ngIf="
                    leavesetUpForm.controls['startAccrual'].invalid &&
                    (leavesetUpForm.controls['startAccrual'].dirty ||
                      leavesetUpForm.controls['startAccrual'].touched)
                  "
                    style="padding: 0px">
                    <div
                      *ngIf="leavesetUpForm.controls['startAccrual'].errors.required"
                      style="color: #dc3545">
                      {{globalServ.showerror('accuralStart')}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div><b>{{globalServ.getGlobalNames('weekend')}}</b></div>

            <div class="form-check col-md-12 my-3 ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                (change)="checkForSandwich()"
                id="allowDeductionInLeaves4Weekend"
                [formControl]="
                  leavesetUpForm.controls.allowDeductionInLeaves4Weekend
                " />
              <label
                class="form-check-label"
                for="allowDeductionInLeaves4Weekend">{{globalServ.showLabel('allowDeductionInLeaves4Weekend')}}
              </label>
            </div>

            <div><b>{{globalServ.getGlobalNames('Holidays')}}</b></div>

            <div class="form-check col-md-12 my-3 ms-3">
              <input
                class="form-check-input"
                type="checkbox"
                (change)="checkForSandwich()"
                id="allowDeductionInLeaves4Holiday"
                [formControl]="
                  leavesetUpForm.controls.allowDeductionInLeaves4Holiday
                " />
              <label
                class="form-check-label"
                for="allowDeductionInLeaves4Holiday">{{globalServ.showLabel('allowDeductionInLeaves4Holiday')}}
              </label>
            </div>

            <div
              class="col-md-6 "
              *ngIf="leavesetUpForm.controls.allowDeductionInLeaves4Weekend.value === true  || leavesetUpForm.controls.allowDeductionInLeaves4Holiday.value === true">
              <div class="form-group input">
                <label
                  class="text-sm mb-1">{{globalServ.showLabel('maxLeaveAllowedForSandwich')}}
                  &nbsp;<span
                    style="color: #f62d51">*</span></label>
                <input
                  type="number"
                  placeholder="{{globalServ.showPlaceholder('maxLeaveAllowedForSandwich')}}"
                  id="maxLeaveAllowedForSandwich"
                  class="form-control"
                  [formControl]="
                    leavesetUpForm.controls.maxLeaveAllowedForSandwich" />
              </div>
            </div>
            <!-- 
            <div class="col-md-6 ">
              <div class="form-group input">
                <label
                  class="text-sm mb-1">{{globalServ.showLabel('leavePolicy')}}</label>
                <input
                  type="text"
                  placeholder="{{globalServ.showPlaceholder('leavePolicy')}}"
                  id="leavePolicy"
                  class="form-control"
                  [formControl]="leavesetUpForm.controls.leavePolicy" />
              </div>
            </div> -->

            <div class="row">
              <div class="form-check col-md-6  my-auto ms-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="canMixOtherLeave" (change)="canMixOtherLeave()"
                  [formControl]="leavesetUpForm.controls.canMixOtherLeave" />
                <label class="form-check-label" for="canMixOtherLeave">
                  {{globalServ.showLabel('canMixOtherLeave')}}</label>
              </div>

              <div
                class="col-md-6 mt-3 ms-3"
                *ngIf="leavesetUpForm.controls.canMixOtherLeave.value === true">
                <div class="form-group input">
                  <label class="text-sm mb-1" for="canMixWith">
                    {{globalServ.showLabel('canMixWith')}}&nbsp;<span
                      style="color: #f62d51">*</span>
                  </label>

                  <ng-select id="canMixWith" [items]="otherThanLeaveType"
                    style="    border-radius: 5px;
    border: 1px solid #e3e3e3;"
                    [bindLabel]="leaveTypeCode" [bindValue]="leaveTypeCode"
                    multiple="true"
                    placeholder="{{globalServ.showPlaceholder('leaveType')}}"
                    [disabled]="view"
                    [formControl]="leavesetUpForm.controls.canMixWith"></ng-select>
                  <div *ngIf="
                    leavesetUpForm.controls['canMixWith'].invalid &&
                    (leavesetUpForm.controls['canMixWith'].dirty ||
                      leavesetUpForm.controls['canMixWith'].touched)
                  "
                    style="padding: 0px">
                    <div
                      *ngIf="leavesetUpForm.controls['canMixWith'].errors.required"
                      style="color: #dc3545">
                      {{globalServ.showGlobalErrors('fieldRequired')}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-md-6 mt-2 ms-3" *ngIf="!view || !update" >
              <div class="form-group input d-flex  align-items-center ">
                <label class="text-sm mb-1" for="applicableFrom">
                  Setup applicable from &nbsp;<span
                    style="color: #f62d51">*</span>
                </label>
                <div>
                  <input
                    id="applicableFrom"
                    type="month"
                    id="start" name="start"
                    class="form-control ms-2"
                    [min]="LastRunDate"
                    [formControl]="leavesetUpForm.controls.applicableFrom" />
                  <div *ngIf="
                    leavesetUpForm.controls['applicableFrom'].invalid &&
                    (leavesetUpForm.controls['applicableFrom'].dirty ||
                      leavesetUpForm.controls['applicableFrom'].touched)
                  "
                    style="padding: 0px">
                    <div
                      *ngIf="leavesetUpForm.controls['applicableFrom'].errors.required"
                      style="color: #dc3545">
                      Setup applicable month was required
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="!view"
            class="modal-footer d-flex align-items-center mt-3 justify-content-between">
            <button
              type="button"
              id="leave_setup_cancel"
              class="btn delete-btn"
              (click)="cancel()">
              {{globalServ.getGlobalNames('cancel')}}
            </button>
            <button
              type="button"
              id="leave_setup_save"
              class="btn add-btn"
              *ngIf="!update && !view"
              [disabled]="leavesetUpForm.invalid || leavesetUpForm.pristine"
              (click)="create()">
              {{globalServ.getGlobalNames('submit')}}
            </button>
            <button
              id="leave_setup_update"
              type="button"
              class="btn add-btn"
              *ngIf="update && !view"
              [disabled]="leavesetUpForm.invalid || leavesetUpForm.pristine"
              (click)="Update()">
              {{globalServ.getGlobalNames('update')}}
            </button>
          </div>
          <div class="text-center" *ngIf="view">
            <button
              type="button"
              id="leave_setup_cancel"
              class="btn delete-btn"
              (click)="cancel()">
              {{globalServ.getGlobalNames('close')}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
