<div class="modal fade modal-right" style="padding-right: 17px; display: none;"
    [ngClass]="{'show':open1}"
    [ngStyle]="open1 && {'display': 'block'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title"> {{ view ?
                    globalServ.getGlobalNames('view') : (update ?
                    globalServ.getGlobalNames('update')
                    :globalServ.getGlobalNames('create')) }}
                    {{globalServ.showLabel('hcHeader')}}</h1>
                <button type="button" class="btn-close" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="holidayCalendarForm" novalidate>
                            <div class="form-group input">
                                <label class="mb-1 text-sm"
                                    id="holidayCalendarCode">{{globalServ.showLabel('hcHeader')}}&nbsp;<span
                                        style="color: red; margin-left: 1px">*</span></label>
                                <select class="form-select"
                                    id="holidayCalendarCode"
                                    [formControl]="holidayCalendarForm.controls.holidayCalendarCode">
                                    <option value selected
                                        disabled>{{globalServ.showLabel('selectCalendar')}}</option>
                                    <option *ngFor="let pc of parentCalendars"
                                        [value]="pc.calendarCode">
                                        {{pc.calendarCode}}
                                    </option>
                                </select>
                                <div class="mt-2" id="holidayCalendarCode" *ngIf="
                                holidayCalendarForm.controls['holidayCalendarCode'].invalid &&
                                    (holidayCalendarForm.controls['holidayCalendarCode'].dirty ||
                                    holidayCalendarForm.controls['holidayCalendarCode'].touched)
                                    " style="padding: 0px">
                                    <div
                                        *ngIf="holidayCalendarForm.controls['holidayCalendarCode'].errors.required"
                                        style="color: #dc3545">
                                        {{globalServ.showLabel('hcHeader')}}
                                        {{globalServ.showGlobalErrors('required')}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input mt-2">
                                <label class="mb-1 text-sm"
                                    id="dateCode">{{globalServ.getGlobalNames('date')}}&nbsp;<span
                                        style="color: red; margin-left: 1px">*</span></label>
                                <input class="form-control" id="dateCode"
                                    type="date" placeholder="Date"
                                    [formControl]="holidayCalendarForm.controls.dateCode"
                                    (change)="onHolidayCalendarCodeChange()" />
                                <div class="mt-2" id="dateCode"
                                    *ngIf="holidayCalendarForm.controls['dateCode'].invalid && (holidayCalendarForm.controls['dateCode'].dirty ||
                             holidayCalendarForm.controls['dateCode'].touched)"
                                    style="padding: 0px">
                                    <div
                                        *ngIf="holidayCalendarForm.controls['dateCode'].errors.required"
                                        style="color: #dc3545">
                                        {{globalServ.getGlobalNames('date')}}
                                        {{globalServ.showGlobalErrors('required')}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input mt-2">
                                <label
                                    class="mb-1 text-sm">{{globalServ.showLabel('year')}}&nbsp;<span
                                        style="color: red; margin-left: 1px">*</span></label>
                                <input class="form-control" id="yearCode"
                                    [readOnly]="true" placeholder="Select Year"
                                    [formControl]="holidayCalendarForm.controls.yearCode" />
                                <div class="mt-2" id="yearCode" *ngIf="
                                holidayCalendarForm.controls['yearCode'].invalid &&
                                    (holidayCalendarForm.controls['yearCode'].dirty ||
                                    holidayCalendarForm.controls['yearCode'].touched)
                                " style="padding: 0px">
                                    <div id="yearCode"
                                        *ngIf="holidayCalendarForm.controls['yearCode'].errors.required"
                                        style="color: #dc3545">
                                        {{globalServ.showLabel('year')}}
                                        {{globalServ.showGlobalErrors('required')}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group input mt-2">

                                <label class="mb-1 text-sm"
                                    id="description">{{globalServ.showLabel('hcDescription')}}&nbsp;<span
                                        style="color: red; margin-left: 1px">*</span></label>
                                <input class="form-control" id="description"
                                    placeholder="{{globalServ.showGlobalplaceholders('enterDesc')}}"
                                    [formControl]="holidayCalendarForm.controls.description" />
                                <div class="mt-2" id="description"
                                    *ngIf="holidayCalendarForm.controls['description'].invalid &&
                                        (holidayCalendarForm.controls['description'].dirty ||
                                            holidayCalendarForm.controls['description'].touched)"
                                    style="padding: 0px">
                                    <div
                                        *ngIf="holidayCalendarForm.controls['description'].errors.required"
                                        style="color: #dc3545">
                                        {{globalServ.showLabel('hcDescription')}}
                                        {{globalServ.showGlobalErrors('required')}}
                                    </div>
                                </div>

                            </div>
                            <!-- <mat-slide-toggle class="example-margin mt-2" id="priceIncludesTax" color="primary"
                                [formControl]="holidayCalendarForm.controls.isOptional">
                                <small> Is Optional</small>
                            </mat-slide-toggle> -->

                            <div class="mb-3 form-check">
                                <input class="form-check-input" id="isActive"
                                    color="primary" type="checkbox"
                                    [formControl]="holidayCalendarForm.controls.isOptional">
                                <label class="form-check-label">
                                    {{globalServ.getGlobalNames('isOptional')}}
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn delete-btn"
                    (click)="closeModal()">
                    {{globalServ.getGlobalNames('cancel')}}
                </button>
                <button
                    [disabled]="holidayCalendarForm.pristine || holidayCalendarForm.invalid"
                    [hidden]="view || update" (click)="create()"
                    class="btn add-btn ">
                    {{globalServ.getGlobalNames('create')}}
                </button>
                <button *ngIf="update"
                    [disabled]="holidayCalendarForm.pristine || holidayCalendarForm.invalid"
                    (click)="Update()" class="btn add-btn ">
                    {{globalServ.getGlobalNames('update')}}
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="open1" class="modal-backdrop fade show"></div>
