<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-8">
            <div class="d-flex align-items-baseline">
                <i style="font-size:20px" class="fa fa-arrow-left"
                    (click)="back()" aria-label="back"></i>
                <h3 class="ms-4 page-title">{{globalServ.showLabel('payrollSetHeader')}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row mb-3">
            <div class="col-sm-12 col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control"
                    [(ngModel)]="searchedFor"
                        placeholder="{{globalServ.showGlobalplaceholders('search')}} {{globalServ.getGlobalNames('payroll')}} "
                        (keyup)="updateFilter($event)"
                        style="border-radius: 8px 0px 0px 8px;">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-5">
            </div>
            <div class="col-sm-6 col-lg-2">
                <button id="payroll_setup" type="button"
                    class="btn add-btn  float-end d-flex"
                    *ngIf="hasPermissionToUpdate" (click)="create()"><i
                        class="material-icons me-2">add</i> {{globalServ.getGlobalNames('addNew')}}</button>
            </div>
            <div class="col-sm-6 col-lg-2 mt-30px">
                <label class="form-label ms-2">{{globalServ.getGlobalNames('ShowEntries')}}</label>
                <select class="form-select" (change)="resultsPerPage($event)">
                    <!-- <option value="10">10</option> -->
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="all">All</option>
                </select>
            </div>
        </div>

        <!-- </form> -->
        <div class="table-responsive card p-3">
            <table class="table table-hover small table-nowrap custom-table mb-0 datatable">
                <thead class="thead-all">
                    <tr class="tr-th-all">
                        <th></th>
                        <th scope="col">{{globalServ.getGlobalNames('payroll')}}</th>
                        <th scope="col" class="text-center">{{globalServ.showLabel('salaryType')}}</th>
                        <th scope="col" class="text-center">{{globalServ.showLabel('salaryForperiod')}}</th>
                        <th scope="col" class="text-center">{{globalServ.showLabel('salaryFrequency')}}</th>
                        
                        <th scope="col" class="text-center">{{globalServ.showLabel('leavePlan')}}</th>
                        
                        <th scope="col" class="text-center">{{globalServ.getGlobalNames('isDefault')}}</th>

                        <!-- <th scope="col" class="text-center">Approved</th> -->
                        <th scope="col" class="text-center">{{globalServ.getGlobalNames('action')}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="rows.length === 0">
                    <tr
                        style=" text-align: center; height: 150px;">
                        <td colspan="8">
                            {{globalServ.showGlobalErrors('notFound')}}
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="rows.length > 0">
                    <ng-container
                        *ngFor="let row of rows | paginate: config; let i = index">
                        <tr class="dasboard-td">
                            <td><i *ngIf="!row.expand"
                                    class="fa fa-angle-up fs-5 c-ptr"
                                    aria-hidden="true"
                                    (click)="expandRow(row)"></i>
                                <i *ngIf="row.expand"
                                    class="fa fa-angle-down fs-5 c-ptr"
                                    aria-hidden="true"
                                    (click)="collapseRow(row)"></i>
                            </td>
                            <td>{{row.payrollSetup.payrollCode}}</td>
                            <td class="text-center">{{row.payrollSetup.salaryType}}</td>
                            <td class="text-center">{{row.payrollSetup.salaryForPeriod}}</td>
                            <td class="text-center">{{row.payrollSetup.salaryFrequency}}</td>
                            <td class="text-center">{{row.payrollSetup.leavePlanCode}}</td>
                            <td class="text-center">
                                <i *ngIf="row.payrollSetup.isDefault"
                                    class="fa-solid fa-circle"
                                    style="color: #55CE63;"></i>
                                <i *ngIf="!row.payrollSetup.isDefault"
                                    class="fa-solid fa-circle"
                                    style="color: #f62d51;"></i>
                            </td>
                            <!-- <td class="text-center">
                                <i *ngIf="row.approved"
                                    class="fa-solid fa-circle"
                                    style="color: #55CE63;"></i>
                                <i *ngIf="!row.approved"
                                    class="fa-solid fa-circle"
                                    style="color: #f62d51;"></i>
                            </td> -->
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button type="button"
                                        class="btn btn-light me-1 text-info"
                                        placement="top" ngbTooltip="View"
                                        (click)="viewData(row)">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-light me-1 text-secondary"
                                        placement="top" ngbTooltip="Edit"
                                        *ngIf="hasPermissionToUpdate"
                                        (click)="editData(row)">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-light me-1 text-success"
                                        placement="top" ngbTooltip="Approve"
                                        *ngIf="hasPermissionToApprove"
                                        (click)="approveData(row)">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="row.expand">
                            <td colspan="8" class="p-3">
                                <div class="bg-white p-2 custdiv">
                                    <div class="row">
                                        <div class="col-md">
                                            <small>{{globalServ.showLabel('allowOT')}}</small>
                                            <h5 class="mb-0">{{row.payrollSetup.allowOvertime }}</h5>
                                        </div>
                                        <div class="col-md">
                                            <small>{{globalServ.showLabel('otCode')}}</small>
                                            <h5 class="mb-0">{{row.payrollSetup.overtimeCode}}</h5>
                                        </div>
                                        <div class="col-md">
                                            <small>{{globalServ.showLabel('probation')}}</small>
                                            <h5 class="mb-0">{{row.payrollSetup.hasProbation}}</h5>
                                        </div>
                                         <!-- <div class="col-md">
                                            <small>Probation Code</small>
                                            <h5 class="mb-0">{{row.probationCode}}</h5>
                                        </div> -->
                                        <!-- <div class="col-md">
                                            <small>Auto Run Payroll</small>
                                            <h5 class="mb-0">{{row.runPayrollAuto | titlecase}}</h5>
                                        </div> -->
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div *ngIf="rows.length > config.itemsPerPage"
                class="text-center mt-3">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
