.createNewStyle {
    display: flex;
    align-items: center;
}
.form-select:focus,
.form-select:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

::placeholder {
    color: rgba(0, 0, 0, 50%);
    // color: #0326a45d;
    font-size: 14px;

}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    // background-color: #667eea;
    background-color: #5470C6;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: var(--mo-nav-pills-border-radius);
    color: #828393;
    font-size: small;
    // font-weight: 600;
}
.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    background-color: #cfdbff;
    min-width: 100px;
}