<div class="container pt-2">
<div style="display: grid; justify-content: center; gap: 15px; text-align: center; margin: auto;">
    <div>
        <img src="assets/img/error-503.svg" alt="503" class="img-fluid">

    </div>

    <span class="_503">503!</span>
    <div class="server-error">Service Unavailable</div>
    <p>Our servers are in therapy with tech support, resolving childhood issues for a tech-savvy comeback</p>
    <a style="width: fit-content;"  class="btn btn-primary m-auto" (click)="revertBack()">Back</a>
</div>
</div>