.thead-all {
    background: #e5f2fe;
    border-radius: 4px 4px 0px 0px !important;
    border-style: solid;
    border-color: #c7ddff;
    border-width: 1px;
}
.bg-inverse-WeekOff {
    border-radius: 4px;
    background: rgba(204, 235, 255, 1);
    color: #2B94DB !important;
}

.bg-inverse-OD {
    border-radius: 4px;
    background: #f6d7f1;
    color: #db2bbb !important;
}

.bg-inverse-Early {
    border-radius: 4px;
    background: rgba(239, 230, 254, 1);
    color: #864be9 !important;
}