.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    background-color: #cfdbff;
    min-width: 100px;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    // background-color: #667eea;
    background-color: #5470C6;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: var(--mo-nav-pills-border-radius);
    color: #828393;
    font-size: small;
    background-color: #cfdbff;
    // font-weight: 600;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    height: calc(2.5rem + calc(var(--mo-border-width) * 2));
}


.tab-content {
    padding-top: 0px;
}
.widthOftable {
    width: 80%;
    margin: auto;
}