<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="d-flex align-items-baseline">
        <i style="font-size:20px" class="fa fa-arrow-left" (click)="back()"
          aria-label="back"></i>
        <h3 class="ms-4 page-title"> {{global.showLabel('OTAssignment')}}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-12 col-lg-3 col-md-3">
    <div class="input-group">
      <input type="text" class="form-control"
        [(ngModel)]="searhedFor"
        placeholder="{{global.showGlobalplaceholders('searchEmp')}}"
        (keyup)="updateFilter($event)"
        style="border-radius: 8px 0px 0px 8px;">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 mt-30px">
    <label class="form-label"> {{global.getGlobalNames('payroll')}}</label>
    <select
      class="form-select"
      id="shiftCode"
      (change)="getOtAssignedEmps()"
      [(ngModel)]="payrollCode">
      <option [value]="pcode.payrollCode"
        *ngFor="let pcode of payrollCodesList">
        {{ pcode.payrollCode }}
      </option>
    </select>
  </div>
  <div class="col-lg-2  col-md-2 mt-30px">
    <label class="form-label">{{global.getGlobalNames('date')}}</label>
    <input
      type="date"
      class="form-control"
      id="FromDate"
     placeholder="{{global.showGlobalplaceholders('EnterDate')}}"
      [(ngModel)]="startdate"
      (change)="getOtAssignedEmps()" />
  </div>
  <div class="col-lg-3">
    <!--  *ngIf="hasPermissionToUpdate" -->
    <a class="btn add-btn"
      (click)="openOtAssignment()"><i class="fa fa-plus"></i>
      {{global.showLabel('AssignOTBtn')}}
    </a>
  </div>
  <div class="col-lg-2 col-md-2">
    <select class="form-select"
      (change)="resultsPerPage($event)">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="all">All</option>
    </select>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table
        class="table table-hover table-nowrap custom-table mb-0 datatable">
        <thead class="thead-all">
          <tr class="tr-th-all">
            <th scope="col">{{global.getGlobalNames('date')}} </th>
            <th scope="col"
              class="text-center">{{global.getGlobalNames('employeeCode')}}</th>
            <th scope="col">{{global.getGlobalNames('employeeName')}}</th>
            <th scope="col">{{global.getGlobalNames('payroll')}}</th>
            <th scope="col" class="text-center"
              [hidden]="otAssignedEmps[0]?.status==='Payroll Completed'">{{global.getGlobalNames('action')}}</th>

            <!-- <th *ngIf="hasPermissionToUpdate">Action</th> -->
          </tr>
        </thead>
        <tbody *ngIf="otAssignedEmps.length === 0">
          <tr style=" text-align: center; height: 150px;">
            <td colspan="7">
              {{global.showGlobalErrors('notFound')}}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="otAssignedEmps.length > 0">
          <tr class="dasboard-td"
            *ngFor="let row of otAssignedEmps  | paginate: config; let i = index">
            <ng-container *ngIf="row.status !== 'Deleted'">
              <td>{{row.dateCode | date: dateFormat}}</td>
              <td class="text-center">{{row.employeeCode}}</td>
              <td>{{row.employeeName}}</td>
              <td>{{row.payrollCode}}</td>
              <td style="text-align: center"
                [hidden]="otAssignedEmps[0]?.status==='Payroll Completed'">
                <div class="btn-group me-2" role="group"
                  aria-label="Second group">
                  <button id="deleteOT" type="button"
                    class="btn btn-danger me-1"
                    placement="top" ngbTooltip="Delete"
                    (click)="deleteRow(row)">
                    <i id="deleteOT"
                      class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>