<div
  class="modal fade modal-right"
  style="padding-right: 17px; display: none"
  [ngClass]="{ show: open }"
  [ngStyle]="open && { display: 'block' }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          {{ view ? globalServ.getGlobalNames('view') : (update ?
          globalServ.getGlobalNames('update')
          :globalServ.getGlobalNames('create')) }}
          {{globalServ.showLabel('Departmentheader')}}
        </h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="departmentForm" novalidate>
              <div class="form-group input">
                <label class="mb-1 text-sm">
                  {{globalServ.showLabel('deptCode')}}&nbsp;<span
                    class="text-danger" style=" margin-left: 1px">*</span>
                </label>
                <input
                  class="form-control"
                  id="deptCode"
                  maxlength="{{ charLimit }}"
                  placeholder="{{globalServ.showPlaceholder('deptCode')}}"
                  [formControl]="departmentForm.controls.deptCode"
                  [class.is-invalid]="departmentForm.controls.deptCode.invalid && (departmentForm.controls.deptCode.dirty || departmentForm.controls.deptCode.touched)" />
                <div class="mt-2"
                  *ngIf="
                    departmentForm.controls['deptCode'].invalid &&
                    (departmentForm.controls['deptCode'].dirty ||
                      departmentForm.controls['deptCode'].touched)
                  "
                  style="padding: 0px">
                  <div
                    *ngIf="departmentForm.controls['deptCode'].errors.required"
                    style="color: #dc3545">
                    {{globalServ.showLabel('deptCode')}}
                    {{globalServ.showGlobalErrors('required')}}
                  </div>
                </div>

                <div
                  *ngIf="departmentForm.get('deptCode').hasError('invalidFormat')"
                  style="color: #dc3545">{{globalServ.showGlobalErrors('specialChar')}}</div>
                <div
                  *ngIf="
                    departmentForm.controls['deptCode'].value?.length >
                    charLimit - 1
                  "
                  style="color: #dc3545">
                  {{globalServ.showGlobalErrors('max')}} {{ charLimit }}
                  {{globalServ.showGlobalErrors('char')}}
                </div>
              </div>

              <div class="form-group input">
                <label class="mb-1 text-sm">
                  {{globalServ.showLabel('deptName')}}&nbsp;<span
                    style="color: red; margin-left: 1px">*</span>
                </label>
                <input
                  class="form-control"
                  id="deptName"
                  required
                  maxlength="{{ charLimit }}"
                  placeholder="{{globalServ.showPlaceholder('deptName')}}"
                  [formControl]="departmentForm.controls.deptName"
                  [class.is-invalid]="departmentForm.controls.deptName.invalid && (departmentForm.controls.deptName.dirty || departmentForm.controls.deptName.touched)" />
                <div class="mt-2"
                  *ngIf="
                    departmentForm.controls['deptName'].invalid &&
                    (departmentForm.controls['deptName'].dirty ||
                      departmentForm.controls['deptName'].touched)
                  "
                  style="padding: 0px">
                  <div
                    *ngIf="departmentForm.controls['deptName'].errors.required"
                    style="color: #dc3545">
                    {{globalServ.showLabel('deptName')}}
                    {{globalServ.showGlobalErrors('required')}}
                  </div>
                </div>
                <div
                  *ngIf="departmentForm.get('deptName').hasError('invalidFormat')"
                  style="color: #dc3545">{{globalServ.showGlobalErrors('specialChar')}}</div>
              </div>
              <!-- (keydown.space)="$event.preventDefault()" -->
              <div class="mb-3 form-check">
                <input
                  class="form-check-input"
                  id="isactive"
                  color="primary"
                  type="checkbox"
                  [formControl]="departmentForm.controls.isactive" />
                <label class="form-check-label">
                  {{globalServ.getGlobalNames('active')}} </label>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="items-table">
            <div class="item-row head w-100">
              <div class="col-12 item-h">
                <div class="titlediv">
                  <h5 class="mb-0"
                    *ngIf="!view">{{globalServ.getGlobalNames('add')}}
                    {{globalServ.showLabel('deptAccess')}}</h5>
                  <h5 class="mb-0"
                    *ngIf="view && roleAccessArray.length > 0">{{globalServ.getGlobalNames('view')}}
                    {{globalServ.showLabel('deptAccess')}}</h5>
                  <h5 class="mb-0" *ngIf="view && roleAccessArray.length === 0">
                    {{globalServ.getGlobalErrors('noDeptAccess')}}
                  </h5>
                </div>
                <div style="float: right">
                  <button *ngIf="!view"
                    type="button"
                    [disabled]="departmentForm.invalid"
                    (click)="addUser()"
                    class="btn btn-primary btn-sm mt-1 me-2 align-items-end d-flex">
                    <i class="material-icons me-2">add</i>
                    {{globalServ.getGlobalNames('addMore')}}
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div *ngFor="let c of roleAccessArray; let i = index">

          <div class="row mt-4 w-100" *ngIf="c.status !== 'delete'">
            <div class="col-md-5 item-h">
              <div class="form-floating">
                <select
                  id="deptRoleCode"
                  class="form-select br-rm"
                  [(ngModel)]="c.deptRoleCode"
                  [disabled]="view"
                  [ngModelOptions]="{ standalone: true }">
                  <option value>-</option>
                  <option *ngFor="let e of roleTypes"
                    [value]="e.name">
                    {{ e.name }}
                  </option>
                </select>
                <label>
                  {{globalServ.getGlobalNames('roleCode')}} &nbsp;<span
                    style="color: red; margin-left: 1px">*</span>
                </label>
              </div>
            </div>
            <div class="col-md-5 item-h">
              <div class="form-floating">
                <select
                  id="userName"
                  class="form-select br-rm"
                  [(ngModel)]="c.userName"
                  [disabled]="view"
                  [ngModelOptions]="{ standalone: true }">
                  <option value>-</option>
                  <option
                    *ngFor="let e of userNames"
                    [value]="e">
                    {{ e }}
                  </option>
                </select>
                <label>{{globalServ.getGlobalNames('userName')}} &nbsp;<span
                    style="color: red; margin-left: 1px">*</span></label>
              </div>
            </div>

            <div class="item-h col-md-2" [hidden]="view">
              <i
                class="fa-solid fa-trash fs-5 text-danger mt-3 px-2 c-ptr"
                (click)="removeItem(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn delete-btn" (click)="closeModal()">
          {{globalServ.getGlobalNames('cancel')}}
        </button>
        <button
          [hidden]="view || update"
          [disabled]="departmentForm.invalid || rolesArrLen.length === 0"
          (click)="create()"
          class="btn add-btn">
          {{globalServ.getGlobalNames('create')}}
        </button>
        <button *ngIf="update"
          [disabled]="departmentForm.invalid || rolesArrLen.length === 0"
          (click)="Update()" class="btn add-btn">
          {{globalServ.getGlobalNames('update')}}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="open" class="modal-backdrop fade show"></div>
