<div class="account-content p-0" *ngIf="showEmailBox">
  <div class="container-fluid">
    <div class="row w-100 position-absolute">
      <div
        class="col-md-6 text-center justify-content-center account-login-right w-50 position-fixed">
        <div
          class=" d-flex align-items-center flex-column justify-content-center"
          style="gap: 37px;">
          <div class="d-flex flex-row-start align-items-center"
            style="gap: 11px;">
            <img style="height: 108px; width: 108px;" alt
              src="assets/img/atlas-logo-full.png" />
          </div>
          <div class=" align-items-start  position-relative "
            style="padding: 0 42px; gap: 10px;font-size: 20px;">
            <div class=" position-relative rounded bg-white overflow-hidden"
              style="width: 389px;  height: 283.63px">
              <img class="mt-4" style="height: 140px;" alt
                src="assets/img/piegraph.svg" />

              <div class="position-absolute"
                style="top: 163px; left: calc(50% - 141.5px)">
                Effortless Attendance Tracking
              </div>
              <div class="  fw-normal position-absolute" style="top: 198px;
  left: 34px; width: 320px ;font-size:11px">
                Atlas is a web portal-based time and attendance
                management system that allows organizations to
                track and manage their employee‘s attendance
                data in a seamless and efficient manner.
              </div>
            </div>
            <div
              class="rounded bg-white position-absolute overflow-hidden"
              style="
                top: 260px;
                left: 0;
                width: 297px;
                height: 64.23px;
                font-size: 12px;
                box-shadow: 308px 27px 87px transparent,
                  197px 17px 79px rgba(3, 38, 164, 0.01),
                  111px 10px 67px rgba(3, 38, 164, 0.05),
                  49px 4px 50px rgba(3, 38, 164, 0.09),
                  12px 1px 27px rgba(3, 38, 164, 0.1);
              ">
              <img
                class="mb-3 position-absolute"
                style="top: 11.59px; left: 12.56px"
                alt
                src="assets/img/smallPic.svg" />

              <div class="payments-made-simple">
                Attendance
                Management

              </div>
              <div class="user-friendly-and-efficient">
                The
                biometric technology used in this system ensures
                that attendance records are accurate and
                tamper-proof.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex position-absolute styleofcompany"
        style="min-height: 100vh; align-items: center; justify-content: center">
        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title mb-5">Sign Up</h3>
            <!-- Account Form -->
            <form action="dashboard">
              <div class="form-group input">
                <!-- <label>Email</label> -->
                <div class="input-group">
                  <input
                    id="email"
                    placeholder="Business Email"
                    class="form-control"
                    type="text"
                    [formControl]="logInForm.controls.email"
                    [email]="true"
                    (keyup)="onEmailChange(logInForm.controls.email.value)" />
                  
                  <span
                    id="email"
                    class="input-group-custom"
                    *ngIf="showSuccessEmailToolTip === 'EMAIL ALREADY EXIST'"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Email Already Exists">
                    <i
                      id="email"
                      style="color: #dc3545"
                      class="fa fa-exclamation-triangle"
                      aria-hidden="true"></i>
                  </span>
                  <span
                    id="email"
                    class="input-group-custom"
                    *ngIf="showSuccessEmailToolTip === 'EMAIL NOT EXISTS'"
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <i
                      style="color: #35ef57"
                      id="email"
                      class="far fa-check-circle"
                      aria-hidden="true"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccessEmailToolTip === 'nothing'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <div id="loading-mini"></div>
                  </span>
                </div>
                <div  style="color: #dc3545;"
                    *ngIf="logInForm.get('email').hasError('required') && logInForm.get('email').touched">
                    Email is required.
                  </div>
                  <div  style="color: #dc3545;"
                    *ngIf="logInForm.get('email').hasError('email') && logInForm.get('email').touched">
                    Please enter a valid email address.
                  </div>
              </div>
              <div class="form-group input">
                <div class="input-group">
                  <input
                    id="firstName"
                    class="form-control "
                    type="text"
                    placeholder="Enter Your First Name "
                    id="firstName"
                    [formControl]="logInForm.controls.firstName" />

                </div>
              </div>
              <div class="form-group input">
                <div class="input-group">
                  <input
                    id="lastName"
                    class="form-control "
                    type="text"
                    placeholder="Enter Your Last Name "
                    id="lastName"
                    [formControl]="logInForm.controls.lastName" />
                </div>
              </div>

              <div class="form-group input">
                <div class="input-group">
                  <input
                    id="userName"
                    class="form-control "
                    type="text"
                    maxlength="12"
                    placeholder="Enter Your User Name "
                    (keyup)="onUserNameChange(logInForm.controls.userName.value)"
                    id="userName"
                    [formControl]="logInForm.controls.userName" />
                  <span
                    id="userName"
                    class="input-group-custom"
                    *ngIf="showSuccessuserNameToolTip === 'USERNAME NOT EXISTS'"
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <i
                      id="userName"
                      style="color: #35ef57"
                      class="far fa-check-circle"
                      aria-hidden="true"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccessuserNameToolTip === 'nothing'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <div id="loading-mini"></div>
                  </span>
                  <span
                    class="input-group-custom"
                    id="userName"
                    *ngIf="
                    showSuccessuserNameToolTip === 'USERNAME ALREADY EXISTS'
                  "
                    data-toggle="tooltip"
                    data-placement="right"
                    title="USERNAME ALREADY EXISTS">
                    <i
                      id="userName"
                      style="color: #dc3545"
                      class="fa fa-exclamation-triangle"
                      aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <div class="form-group input">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="number"
                    id="phoneNo"
                    placeholder="Enter Your Mobile Number"
                    [formControl]="logInForm.controls.phoneNo" />
                  <span
                    class="input-group-custom"
                    id="phoneNo"
                    *ngIf="
                    logInForm.controls['phoneNo'].hasError('required') &&
                    (logInForm.controls['phoneNo'].dirty ||
                      logInForm.controls['phoneNo'].touched)
                  "
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Contact No Field Required">
                    <div id="phoneNo"
                      *ngIf="logInForm.controls['phoneNo'].errors.required"
                      style="color: #dc3545">
                      <i id="phoneNo"
                        class="fa fa-exclamation-triangle"
                        aria-hidden="true"></i>
                    </div>
                  </span>
                </div>
              </div>

              <div class="form-group input">
                <div class="input-group">
                  <input
                    name="password"
                    [type]="showPassword ? 'text' : 'password'"
                    class="form-control pwd-control"
                    (keyup)="onPasswordChange()"
                    [formControl]="logInForm.controls.password"
                    id="password-field" placeholder="Enter Your Password">

                  <span class="input-group-custom" id="password-field">
                    <i alt="show" class="far fa-eye" id="password-field"
                      *ngIf="showPassword"
                      [name]="showPassword?'eye-off' : 'eye'"
                      (click)="showPassword = !showPassword"></i>
                    <i alt="hide" id="password-field"
                      class="far fa-eye-slash eye-hide" *ngIf="!showPassword"
                      (click)="showPassword = !showPassword"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="logInForm.controls['password'].hasError('minlength')"
                    data-toggle="tooltip"
                    id="password-field"
                    data-placement="right"
                    title="Must be at least 8 characters!">
                    <div style="color: #dc3545">
                      <i
                        class="fa fa-exclamation-triangle"
                        aria-hidden="true"></i>
                    </div>
                  </span>
                </div>
              </div>
              <div class="form-group input">

                <div class="input-group">
                  <input
                    name="password"
                    [type]="confirmpassword ? 'text' : 'password'"
                    class="form-control pwd-control"
                    placeholder="Re-Enter Your Password"
                    id="confirmpassword"
                    (keyup)="onPasswordChange()"
                    [formControl]="logInForm.controls.confirm_password" />
                  <span class="input-group-custom" id="confirmpassword">
                    <i alt="show" class="far fa-eye" id="confirmpassword"
                      *ngIf="confirmpassword"
                      [name]="confirmpassword?'eye-off' : 'eye'"
                      (click)="confirmpassword = !confirmpassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide"
                      id="confirmpassword" *ngIf="!confirmpassword"
                      (click)="confirmpassword = !confirmpassword"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="confirm_password.hasError('mismatch')"
                    style="color: #dc3545"
                    data-toggle="tooltip"
                    id="confirmpassword"
                    data-placement="right"
                    title="Password Does not match">
                    <div style="color: #dc3545">
                      <i
                        id="confirmpassword"
                        class="fa fa-exclamation-triangle"
                        aria-hidden="true"></i></div></span>
                </div>
              </div>
              <div class="form-group text-center"
                *ngIf="showSuccessEmailToolTip !== 'EMAIL NOT EXISTS'">
                <button class="btn btn-primary account-btn"
                  id="next_btn"
                  [disabled]="
                  logInForm.pristine ||
                  logInForm.invalid ||
                  showSuccessEmailToolTip !== 'EMAIL NOT EXISTS' ||
                  showSuccessuserNameToolTip === 'USERNAME ALREADY EXISTS' ||
                  confirm_password.hasError('mismatch')"
                  (click)="showCompany()">
                  <!-- EMAIL NOT EXISTS -->
                  Next
                </button>
              </div>
              <div class="form-group text-center"
                *ngIf="showSuccessEmailToolTip === 'EMAIL NOT EXISTS'">
                <button
                  class="btn account-btn"
                  id="next_btn"
                  [disabled]="
                  logInForm.pristine ||
                  logInForm.invalid ||
                  showSuccessEmailToolTip !== 'EMAIL NOT EXISTS' ||
                  showSuccessuserNameToolTip === 'USERNAME ALREADY EXISTS' ||
                  confirm_password.hasError('mismatch')"
                  (click)="showCompany()">
                  Next
                </button>
              </div>
              <div class="account-footer">
                <p>
                  Already Have an Account ?
                  <a routerLink="/auth">Sign In</a>
                </p>
              </div>
            </form>
            <!-- /Account Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="account-content p-0" *ngIf="showCompanyBox">
  <div class="container-fluid">
    <div class="row w-100 position-absolute">
      <div
        class="col-md-6 text-center d-flex justify-content-center account-login-right w-50 position-fixed">
        <div
          class="d-flex align-items-center flex-column justify-content-center"
          style="gap: 37px">
          <div
            class=" d-flex flex-row-start align-items-center"
            style="gap: 11px">
            <img style="height: 108px; width: 108px;" alt
              src="assets/img/atlas-logo-full.png" />
          </div>
          <div
            class="align-items-start position-relative"
            style="padding: 0 42px; gap: 10px; font-size: 20px">
            <div
              class="position-relative rounded bg-white overflow-hidden"
              style="width: 389px; height: 283.63px">
              <img alt class="mt-3" src="assets/img/comapny.svg" />

              <div
                class="position-absolute"
                style="top: 163px; left: calc(50% - 90.5px)">
                Secure and Reliable
              </div>
              <div
                class="fw-normal position-absolute"
                style="top: 198px; left: 34px; width: 320px; font-size: 12px">
                To a new era of workforce management! With Atlas, you can track
                your employees' locations securely and efficiently, no matter
                where you are.
              </div>
            </div>
            <div
              class="rounded bg-white position-absolute overflow-hidden"
              style="
                top: 260px;
                left: 0;
                width: 297px;
                height: 64.23px;
                font-size: 12px;
                box-shadow: 308px 27px 87px transparent,
                  197px 17px 79px rgba(3, 38, 164, 0.01),
                  111px 10px 67px rgba(3, 38, 164, 0.05),
                  49px 4px 50px rgba(3, 38, 164, 0.09),
                  12px 1px 27px rgba(3, 38, 164, 0.1);
              ">
              <img
                class="mb-3 position-absolute"
                style="top: 11.59px; left: 12.56px"
                alt
                src="assets/img/Frame.svg" />

              <div class="payments-made-simple">
                Attendance
                Management
              </div>
              <div class="user-friendly-and-efficient">
                User-friendly and efficient solution designed to streamline and
                simplify your attendance management process.

              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex position-absolute styleofcompany"
        style="min-height: 100vh; align-items: center; justify-content: center">
        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Company Details</h3>
            <form action="dashboard">
              <div class="form-group input">
                <div class="input-group">
                  <input
                    class="form-control  bg-white"
                    type="text"
                    placeholder="Enter Your Company Code"
                    id="companyCode"
                    (keyup)="
                      onCmpCodeChange(companyForm.controls.companyCode.value)
                    "
                    [formControl]="companyForm.controls.companyCode" />
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyCodeToolTip === 'COMPANY CODE NOT EXISTS'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <i
                      style="color: #35ef57"
                      class="far fa-check-circle"
                      aria-hidden="true"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyCodeToolTip === 'nothing'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <div id="loading-mini"></div>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyCodeToolTip ===
                      'COMPANY CODE ALREADY EXISTS'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Company Not Exists">
                    <i
                      style="color: #dc3545"
                      class="fa fa-exclamation-triangle"
                      aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="form-group input">
                <div class="input-group">
                  <input
                    class="form-control  bg-white"
                    type="text"
                    placeholder="Enter Your Company Name"
                    id="companyName"
                    (keyup)="
                      onCmpNameChange(companyForm.controls.companyName.value)
                    "
                    (keyup)="
                      getShortNamefromCmpName(
                        companyForm.controls.companyName.value
                      )
                    "
                    [formControl]="companyForm.controls.companyName" />
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyNameToolTip === 'COMPANY NAME NOT EXISTS'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <i
                      style="color: #35ef57"
                      class="far fa-check-circle"
                      aria-hidden="true"></i>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyNameToolTip === 'nothing'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title>
                    <div id="loading-mini"></div>
                  </span>
                  <span
                    class="input-group-custom"
                    *ngIf="
                      showSuccesCompanyNameToolTip ===
                      'COMPANY NAME ALREADY EXISTS'
                    "
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Company Not Exists">
                    <i
                      style="color: #dc3545"
                      class="fa fa-exclamation-triangle"
                      aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="form-group input">
                <div class="input-group">
                  <input
                    class="form-control  bg-white"
                    type="text"
                    maxlength="3"
                    placeholder="Enter Company's Shortname"
                    [formControl]="companyForm.controls.shortName"
                    id="shortName">
                </div></div>

              <div class="form-group input">
                <div class="input-group">
                  <select
                    class="select form-select"
                    aria-label="Default select example"
                    [formControl]="companyForm.controls.industry">
                    <option value disabled selected>Select Industry</option>
                    <option *ngFor="let i of industries" [value]="i">
                      {{ i }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-check mt-2 mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="multiBranch"
                  (click)="toggleB($event)"
                  [formControl]="logInForm.controls.multiBranch" />
                <label class="form-check-label" for="multiBranch">
                  Enable Multi Branch
                </label>
              </div>

              <div class="form-group text-end" *ngIf="hasMultiBranchTrue">
                <button
                  (click)="openModal('','')"
                  class="btn btn-primary"
                  style="display: inline-flex">
                  <i class="material-icons me-2 fs-5">add</i> Add Branch
                </button>
              </div>

              <div
                class="accordion"
                id="accordionExample"
                *ngIf="showBranchList">
                <div
                  class="accordion-item mb-3"
                  *ngFor="let b of branchObj; let i = index">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne">
                      Branch {{ i + 1 }}
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">Branch Name</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.branchName }}</div>
                      </div>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">Phone Number</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.phoneNo }}</div>
                      </div>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">City</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.city }}</div>
                      </div>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">Head Office</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.headoffice }}</div>
                      </div>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">Time Zone</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.timezone }}</div>
                      </div>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="col">ZipCode</div>
                        <div class="col text-center">:</div>
                        <div class="col">{{ b?.zipCode }}</div>
                      </div>

                      <div class="form-group">
                        <button
                          type="button"
                          class="btn float-end btn-sm gap-2 btn-primary"
                          (click)="openModal(b,'edit')">
                          <i class="fa fa-pencil"></i>&nbsp;
                          Edit Branch
                        </button>
                        <button
                          type="button"
                          class="btn float-start btn-sm btn-danger"
                          (click)="removeBranch(i)">
                          <i class="fa-solid fa-trash me-1"></i>&nbsp;Delete
                          Branch
                        </button>
                      </div>
                      <div class="row" style="margin-bottom: 10px"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" mt-3">
                <button
                  class="btn btn-outline-primary float-start mb-3"
                  type="submit"
                  (click)="backTo1stPage()">
                  Previous
                </button>
                <button
                  [disabled]="
                companyForm.invalid ||
                companyForm.pristine ||
                logInForm.pristine ||
                logInForm.invalid ||
                branchObj.length === 0 ||
                showSuccesCompanyNameToolTip === 'COMPANY NAME ALREADY EXISTS' || 
                showSuccessEmailToolTip !== 'EMAIL NOT EXISTS' ||
                showSuccessuserNameToolTip === 'USERNAME ALREADY EXISTS'
                "
                  class="btn btn-primary float-end mb-3"
                  type="submit"
                  (click)="Submit()"
                  style="width: 100px">
                  Submit
                </button>
              </div>
            </form>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>