<mat-dialog-content class="mat-typography">
        <i class="fa-solid fa-xmark float-end fs-4" (click)="doAction('close')" ></i>

          <div class="row">
<div class="col-md-12 col-sm-12">
       <div class="profile-img-wrap edit-img">
            <img
                    *ngIf="emp.image"
                    class="inline-block"
                    [src]="emp.image"
                  />
                  <img
                    *ngIf="!emp.image"
                    class="inline-block"
                    src="assets/img/avatar-21.jpg"
                  />
                  <div class="fileupload btn">
                    <span class="btn-text"
                  data-bs-toggle="modal">Edit</span>
                    <input class="upload" type="file" accept="image/*" (change)="onSelectFile($event)"/>
                  </div>
                </div>
                <div class="text-center">
             <button class="btn add-btn" (click)="doAction('save')" >Save</button>

                <button class="btn delete-btn" (click)="remove()" >Remove</button>
                </div>
</div>

</div>

    </mat-dialog-content>
