.content {
	padding: 30px;
}
.bgColor {
    background: #475bb4;
    color: #ffffff;
}

.listGridIcons {
    font-size: 20px;
    cursor: pointer;
    color: #5470c6;
}

.listGridIconsactive {
    color: #ffffff !important;
}

.form-floating>.form-select {
    padding-top: 0px;
    padding-bottom: 0px;
}
