.content {
	padding: 30px;
}
.bgColor {
    background: #475bb4;
    color: #ffffff;
}

.listGridIcons {
    font-size: 20px;
    cursor: pointer;
    color: #5470c6;
}

.listGridIconsactive {
    color: #ffffff !important;
}

.form-floating>.form-select {
    padding-top: 0px;
    padding-bottom: 0px;
}
  .empName {
    color:  #213343;
    text-align: center;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
    position: relative;
  }
  .span3 {
    color:  #213343ad;
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
  }
  .span4 {
    color:  #213343;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
  }
  