<div class="content container-fluid">
    <div class="mb-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-baseline">
                    <i style="font-size:20px" class="fa fa-arrow-left"
                        routerLink="/dashboard" aria-label="back"></i>
                    <h3 class="ms-4 page-title">{{global.showLabel('LeaveCalendarHeader')}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-floating">
                <select class="form-select" id="departments"
                    [(ngModel)]="reportObj.department"
                    (change)="employeesByDepartmentAndProject()"
                    (change)="modified()">
                    <option [value]="dtypes.deptCode"
                        *ngFor="let dtypes of departments">{{dtypes.deptName}}</option>
                </select>
                <label>{{global.getGlobalNames('department')}}</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating">
                <select class="form-select" [(ngModel)]="reportObj.pjCode"
                    (change)="modified()"
                    (change)="employeesByDepartmentAndProject()">
                    <option [value]="sh.categoryCode"
                        *ngFor="let sh of categorys">{{sh.categoryCode}}</option>
                </select>
                <label>{{global.getGlobalNames('project')}}</label>
            </div>
        </div>
        <div class="col-md d-flex" [ngClass]="{'d-flex':!stopSpinner}">
            <div class="form-floating" *ngIf="stopSpinner">
                <select id="employeeName" class="form-select"
                    (change)="modified()"
                    [(ngModel)]="reportObj.empCode">
                    <option [value]="emp.employeeCode"
                        *ngFor="let emp of employee">{{emp.employeeName}} -
                        {{emp.employeeCode}}</option>
                </select>
                <label>{{global.getGlobalNames('employee')}}</label>
            </div>
            <div id="loading" *ngIf="!stopSpinner"></div>
        </div>
        <div class="col-sm-6 col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>{{global.getGlobalNames('montNdYear')}} </mat-label>
                <input matInput [matDatepicker]="dp" [(ngModel)]="date" />
                <mat-datepicker-toggle matIconSuffix
                    [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker
                    style="height: 50px;"
                    #dp
                    startView="multi-year"
                    (monthSelected)="setMonthAndYear($event, dp)"
                    panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row col-md-12 mb-2 mt-5">
        <div class="col-sm-6 col-lg-4 d-flex mb-2 align-items-end">
            <div class="input-group">
                <input type="text" class="form-control"
          placeholder="{{global.showGlobalplaceholders('search')}}"
                    (keyup)="updateFilter($event)"
                    style="border-radius: 8px 0px 0px 8px; 
    height: calc(2.5rem + calc(var(--mo-border-width) * 2));">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 mt-30px">
            <label class="form-label ms-2">{{global.getGlobalNames('ShowEntries')}} </label>
            <select class="form-select" (change)="resultsPerPage($event)">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="all">All</option>
            </select>
        </div>

        <div class="col-md-6">
            <button id="submit_Leave" class="btn add-btn"
            [disabled]="!reportObj.empCode"  (click)="getLeaveCal()">{{global.getGlobalNames('submit')}}</button>
        </div>
    </div>

    <div class="table-responsive card p-3">
        <table class="table  custom-table table-nowrap mb-0">
            <thead class="thead-all">
                <tr class="tr-th-all">
                    <th>{{global.getGlobalNames('empCode')}}<i class="fa fa-sort  my-auto ms-2"
                            data-column="code"
                            (click)="sortData('code')"
                            [ngClass]="{'asc': sortColumn === 'code' && sortOrder === 'asc',
                            'desc': sortColumn === 'code' && sortOrder === 'desc'}"></i></th>
                    <th class="d-flex fixeddrow">{{global.getGlobalNames('empName')}} <i
                            class="fa fa-sort my-auto ms-2"
                            data-column="name"
                            (click)="sortData('name')"
                            [ngClass]="{'asc': sortColumn === 'name' && sortOrder === 'asc',
                            'desc': sortColumn === 'name' && sortOrder === 'desc'}"></i>
                    </th>
                    <th class="text-center" *ngFor="let date of monthly_dates">
                        {{ date | date : "d" }}
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="rows.length === 0 && message === 'modified'">
                <tr
                    style=" text-align: center; height: 150px;">
                    <td colspan="35">
                        {{global.showGlobalErrors('notFound')}}
                    </td>
                </tr>
            </tbody>
            <tbody
                *ngIf="rows.length === 0 && message === 'clickOnsubmit'">
                <tr
                    style=" text-align: center; height: 150px;">
                    <td colspan="35">
                         {{global.showGlobalErrors('greatChoices')}}
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="rows.length === 0 && message === 'error'">
                <tr
                    style=" text-align: center; height: 150px;">
                    <td colspan="35">
                       {{global.showGlobalErrors('sorry')}}
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="rows.length > 0">
                <tr class="dasboard-td"
                    *ngFor=" let leave of rows  | paginate : config; let i = index ">
                    <td>
                        <h2 class="table-avatar">
                            <a>{{ leave.code }}</a>
                        </h2>
                    </td>
                    <td>
                        <h2 class="table-avatar">
                            <a>{{ leave.name }}</a>
                        </h2>
                    </td>
                    <td class="text-center"
                        *ngFor="let d of leave.data">
                        {{d.leave}}
                    </td>
                </tr>
            </tbody>

        </table>
        <div
            *ngIf="rows.length > config.itemsPerPage"
            class="text-center mb-3 mt-4">
            <pagination-controls
                (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>